mixin footer(props = {})

  footer.footer#footer(class=props.mod)
    .wrapper

      .footer__grid

        a(href="#").footer__logo.logo.logo--svg
          +pic({name: 'logo-white', format: 'svg', path: 'content'}).logo__img
