.order-section {
  @include fluid(padding-top, 120, 40);
  @include fluid(padding-bottom, 150, 60);
  color: var(--color-white);
  background-image: url('../img/content/bg.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 80, 30);
  }

  &__head {
    display: flex;
    flex-direction: column;
    @include fluid(gap, 30, 20);
    align-items: center;
  }

  &__text {
    color: var(--color-neutral-600);
    // @include fluid(font-size, 18, 16);
    font-size: fluid(18, 16);
    text-align: center;
  }

  &__steps {
    display: grid;
    gap: rem(10);
    grid-template-columns: repeat(5, 1fr);

    @include media(smartphone) {
      grid-template-columns: 100%;
    }

    &-elem {
      position: relative;
      z-index: 1;

      &:not(:last-child) {
        &::after {
          content: '';
          @include fluid(width, 110, 50, true);
          height: rem(6);
          position: absolute;
          left: 100%;
          top: 25%;
          transform: translateX(-50%);
          background-image: url('../img/content/steps/dots.svg');
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100% 100%;
          z-index: -1;

          @include media(tablet) {
            top: 20%;
          }

          @include media(smartphone) {
            display: none;
          }
        }
      }
    }
  }

}
