-
  const dataMenu = [
    {
      title: 'Студентам',
      href: '#'
    },
    {
      title: 'Поступающим',
      href: '#'
    },
    {
      title: 'Юбилей',
      href: '#'
    }
  ]

  const dataMenuTop = [
    {
      title: 'Сведения об образовательной организации',
      href: '#'
    },
    {
      title: 'Институты и кафедры',
      href: '#'
    },
    {
      title: 'Руководство',
      href: '#'
    },
    {
      title: 'Преподаватели',
      href: '#'
    },
    {
      title: 'Цифровое пространство',
      href: '#'
    }
  ]

  const submenu = [
    {
      title: 'Подготовительные курсы',
      href: '#',
      sub: 'submenuSub'
    },
    {
      title: 'Детский технопарк',
      href: '#',
      sub: 'submenuSub2'
    },
    {
      title: 'Колледж',
      href: '#',
      sub: 'submenuSub'
    },
    {
      title: 'Подготовительные курсы',
      href: '#',
      sub: 'submenuSub2'
    },
    {
      title: 'Детский технопарк',
      href: '#',
      sub: 'submenuSub'
    },
    {
      title: 'Колледж',
      href: '#',
      sub: 'submenuSub2'
    },
  ]

  const submenuSub = [
    {
      title: 'Повышение квалификации',
      href: '#'
    },
    {
      title: 'Профпереподготовка',
      href: '#'
    },
    {
      title: 'Допобразование',
      href: '#'
    },
    {
      title: 'Повышение квалификации',
      href: '#'
    },
  ]

    const submenuSub2 = [
    {
      title: 'Детский технопарк',
      href: '#'
    },
    {
      title: 'Детский технопарк',
      href: '#'
    },
    {
      title: 'Допобразование',
      href: '#'
    },
    {
      title: 'Детский технопарк',
      href: '#'
    },

  ]
