.breadcrumbs {
  display: flex;
  align-items: center;
  gap: rem(9);

  &__item {
    display: flex;
    align-items: center;
    gap: rem(9);

    &:not(:first-child) {
      &::before {
        content: '';
        display: block;
        width: rem(15);
        height: 1px;
        background-color: var(--color-black);
      }
    }
  }

  &__link {
    color: var(--color-black);
    transition: color 0.3s;

    &[href] {
      &:focus,
      &:focus-visible {
        outline: none;
        color: var(--color-primary-500);
      }
      @include media(hover) {
        &:hover {
          color: var(--color-primary-500);
        }
      }
    }

    &:disabled,
    &.disabled {
      color: var(--color-neutral-500);
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}
