extends ../components/layouts/main-layout

block variables
  -
    title = 'UI-kit'
    hasFooter = false
    hasHeader = false

block main
  style
    include ../styles/ui-kit.css

  main.container
    .wrapper
      button(type="button" aria-label="local").btn.btn--icon.btn--color-neutral Button
        +icn({name: 'local', width: '40'})

      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime consectetur exercitationem architecto voluptates labore, sequi iusto voluptatem aliquam nulla fuga.
