// .width {
//   width: min(calc(100% - (var(--main-padding)*2)));
//   margin-inline: auto;
//   padding-inline: rem(20);
//   flex: 0 0 auto;
// }

.wrapper {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--main-padding);
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
