.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(10);
  height: rem(56);
  font-size: rem(18);
  line-height: rem(26);
  font-weight: 400;

  padding: 0;
  background-color: transparent;
  color: var(--color-white);
  border: none;
  border-radius: var(--radius-l);

  transition: color .3s ease, border-color .3s ease, background-color .3s ease;

  cursor: pointer;

  // states

  &:focus {
    outline: none;
  }

  &:focus-visible {
    background-color: var(--color-primary-400);
  }

  @include media(hover) {
    &:hover:not(:where(:disabled, .is-disabled)) {
      background-color: var(--color-primary-400);
      cursor: pointer;
    }
  }

  &:active,
  &.is-active {
    outline: none;
    background-color: var(--color-primary-600);
  }

  &:disabled,
  &.is-disabled {

    cursor: not-allowed;
    opacity: 0.6;
  }

  &__text {
    color: inherit;
    padding: rem(16);
  }

  // vars

  &--color {
    &-primary {
      background-color: var(--color-primary-500);
    }
  }
}
