// @keyframes rotate {
//   from {
//     transform: rotate(0deg);
//   }

//   to {
//     transform: rotate(360deg);
//   }
// }

// @keyframes display-none {
//   0% {
//     display: none;
//     opacity: 0;
//   }

//   1% {
//     display: block;
//   }

//   100% {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

.fadeInUp {
  opacity: 0;
  transform: translate3d(0, 35px, 0);
  transition: opacity 0.5s linear, transform 0.7s ease;
  transition-delay: 0.25s;
  &.js-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInBottom {
  opacity: 0;
  transform: translate3d(0, -35px, 0);
  transition: opacity 0.5s linear, transform 0.7s ease;
  transition-delay: 0.25s;
  &.js-visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  opacity: 0;
  transform: translate3d(35px, 0, 0);
  transition: opacity 0.5s linear, transform 0.7s ease;
  transition-delay: 0.25s;
  &.js-visible {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  opacity: 0;
  transform: translate3d(-35px, 0, 0);
  transition: opacity 1s linear, transform 1.1s ease;
  transition-delay: 0.25s;
  &.js-visible {
    opacity: 1;
    transform: none;
  }
}
